
{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- BLOCK CONTENT -->
{% extends 'base.html' %} {% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %} {% endblock %}


<!-- Content block -->
{% block content %}
<div class="container-fluid mt-3">
  <div class="row">
      <a href="{{url_for('main.new_pitch')}}">Create a new pitch</a>
      {{macro.displayPitchList(pitches,2)}}
  </div>
</div>
{% endblock %}
<!-- {% block content %}
<div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
      {% endblock %} -->