{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
    <div class="container">
        <div class="panel reviews">
                <a href="/category/pitch/comment/{{pitch.id}}"><h3>Create a Comment</h3></a>
            {% if comment %}
                <ul class="reviews-list">
                        
                    {{ macro.displayComments(comments) }}
                </ul>
            {% else %}
                <h3>This pitch has no comments</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}