

<!-- 
{% macro displayCategoryList(pitch_list) %} 
{% for category in category_list %}
<div class="col-xs-6 col-sm-6 col-md-6">


        <li id="categories">
                <a class="category-button btn btn-default" href="/category/{{category.id}}"><h3>{{category.name}}</h3></a>
            </li>
  <div class="card m-2">
    <div class="card-header">
       {{pitch.category}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{pitch.title}}</h5>
      <p class="card-text">{{pitch.body}}</p>
      <p class="card-text"><small class="text-muted"></small></p>
      <hr>
      <p>Add a comment <a href="/comment/{{pitch.id}}">here</a>.</p>
    </div>
  </div>
</div>
{% endfor %}
{% endmacro %} -->


{% macro displayPitchList(pitch_list) %} 
{% for pitch in pitch_list %}
<div class="col-xs-6 col-sm-6 col-md-6">
  <div class="card m-2">
    <div class="card-header">
      Category - {{pitch.category}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{pitch.title}}</h5>
      <p class="card-text">{{pitch.body}}</p>
      <p class="card-text"><small class="text-muted"></small></p>
      <hr>
      <p>Add a comment <a href="/comment/{{pitch.id}}">here</a>.</p>
    </div>
  </div>
  <div class="card-footer text-muted">
    {{pitch.posted}}
  </div>
</div>
{% endfor %} {% endmacro %}



